#santahat {
	background: url(./images/santahat.png);
    height: 107px;
    width: 86px;
    margin: -3px 0 0 -13px;
    position: absolute;
    pointer-events: none;
    background-size: cover;
    z-index: 1;}
.logo {
	text-indent: 20px;
}