DirectoryIndex index.php
Options -Indexes

php_flag display_errors On
php_value error_reporting 32767

RewriteEngine On

# Geen fysiek bestand of map
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Algemene route (werkt met of zonder .html)
RewriteRule ^(.+?)(\.html)?$ index.php?menu=$1 [L]

# Specifieke routes
RewriteRule ^Quotes/([0-9]+)\.html$ index.php?menu=Quotes&id=$1 [L]
RewriteRule ^Video/([0-9]+)\.html$ index.php?menu=Video&id=$1 [L]

RewriteRule ^favicon.ico$ favicon.ico [L]

<Files .htaccess>
    Require all denied
</Files>

<FilesMatch "\.(ini|psd|log|sh)$">
    Require all denied
</FilesMatch>