#santahat {
    background: url(./images/santahat.png);
    height: 78px;
    width: 73px;
    margin: -9px 0 0 869px;
    position: absolute;
    pointer-events: none;
    background-size: cover;
    z-index: 1;}
.logo {
	text-indent: 20px;
}