{% include 'overall_header.html' %}
{% INCLUDECSS '@mot_userreminder/admin_mot_userreminder.css' %}

<h1>{{ lang('ACP_USERREMINDER_REGISTERED_ONLY') }}</h1>
<p>{{ lang('ACP_USERREMINDER_REGISTERED_ONLY_EXPLAIN') }}</p>

<form id="acp_userreminder_registered_only" method="post" action="{{ U_ACTION }}">
	{% if pagination %}
	<div class="pagination top-pagination">
		{% include 'pagination.html' %}
	</div>
	{% endif %}

	<table class="table1 zebra-table fixed-width-table">
		<thead>
			<tr>
				<th style="width: 30%;">{{ lang('USERNAME') }}</th>
				<th style="text-align: center;">{{ lang('JOINED') }}</th>
				<th style="text-align: center;">{{ lang('DAYS_AGO') }}</th>
				<th style="width: 80px; text-align: center;">{{ lang('MARK') }}</th>
			</tr>
		</thead>
		<tbody>
		{% for registered_only in registered_only %}
			<tr>
				<td><a href="{{ registered_only.SERVER_CONFIG }}" target="_blank" {% if registered_only.USER_COLOUR %}style="color: #{{ registered_only.USER_COLOUR }};" class="username-coloured"{% endif %}>{{ registered_only.USERNAME }}</a></td>
				<td style="text-align: center;">{{ registered_only.JOINED }}</td>
				<td style="text-align: center;">{{ registered_only.OFFLINE_DAYS }}</td>
				<td style="text-align: center;"><input type="checkbox" class="radio" name="mark[]" value="{{ registered_only.USER_ID }}" /></td>
			</tr>
		{% else %}
		<tr>
			<td colspan="4" style="text-align: center;">{{ lang('ACP_USERREMINDER_NO_ENTRIES') }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>

	{% if pagination %}
		<div class="pagination">
			{% include 'pagination.html' %}
		</div>
	{% endif %}

<fieldset class="display-options">
	{{ lang('SORT_BY') }}{{ lang('COLON') }}
	<select name="sort_dir">
		<option value="DESC" {% if SORT_DIR == 'DESC' %} selected {% endif %}>{{ lang('ACP_USERREMINDER_SORT_DESC') }}</option>
		<option value="ASC" {% if SORT_DIR == 'ASC' %} selected {% endif %}>{{ lang('ACP_USERREMINDER_SORT_ASC') }}</option>
	</select>
	<input class="button2" type="submit" value="{{ lang('GO') }}" name="sort" />
</fieldset>
<hr />

	<fieldset class="quick">
		<input class="button2" type="submit" name="delmarked" value="{{ lang('DELETE_MARKED') }}" /><br />
		<p class="small"><a href="#" onclick="marklist('acp_userreminder_registered_only', 'mark', true); return false;">{{ lang('MARK_ALL') }}</a> &bull; <a href="#" onclick="marklist('acp_userreminder_registered_only', 'mark', false); return false;">{{ lang('UNMARK_ALL') }}</a></p>
	</fieldset>
	{{ S_FORM_TOKEN }}
	
{% include '@mot_userreminder/userreminder_version.html' %}
</form>

{% include 'overall_footer.html' %}
