.load_file {
	padding: 4px !important;
}

#mot_ur_protected_groups {
	width: 90%;
	scrollbar-width: none;		/* Hide scrollbar for Firefox */
	-ms-overflow-style: none;	/* Hide scrollbar for IE and Edge */
}

.no-scroll::-webkit-scrollbar {display:none;}	/* Hide scrollbar for Chrome, Safari and Opera */

/* style settings for version and copyright notice */
#centered_text {
	text-align: center;
	vertical-align: middle;
}
