{% if S_DISPLAY_JUMPBOX %}
	<div class="action-bar jumpbox-index actions-jump {% if JUMPBOX_UCP %}jumpbox-ucp{% endif %}">
		<div class="jumpbox dropdown-container {% if JUMPBOX_POSITION_DOWN %}dropdown-up{% endif %} dropdown-container{% if JUMPBOX_RIGHT %}-right{% else %}-left{% endif %} dropdown-{% if JUMPBOX_RIGHT %}{{ S_CONTENT_FLOW_BEGIN }}{% else %}{{ S_CONTENT_FLOW_END }}{% endif %} dropdown-button-control" id="jumpbox">
			<span title="{{ lang('JUMP_TO') }}" class="buttons button-secondary dropdown-trigger dropdown-select">
				{% if JUMPBOX_RIGHT %}<span>{{ lang('JUMP_TO') }}</span>{% endif %}
				<span class="{% if JUMPBOX_DOWN_RIGHT %}caret caret-bottom{% elseif JUMPBOX_DOWN_LEFT %}caret-left caret-bottom{% endif %}{% if JUMPBOX_TOP_RIGHT %}caret{% elseif JUMPBOX_TOP_LEFT %}caret-left{% endif %}"><i class="icon fa-sort-{% if JUMPBOX_POSITION_DOWN %}up{% elseif !JUMPBOX_POSITION_DOWN %}down{% endif %} fa-fw" aria-hidden="true"></i></span>
				{% if !JUMPBOX_RIGHT %}<span>{{ lang('JUMP_TO') }}</span>{% endif %}
			</span>
			<div class="dropdown">
				<div class="pointer"><div class="pointer-inner"></div></div>
				<ul class="dropdown-contents">
					{% for jumpbox_forums in loops.jumpbox_forums %}
						{% if jumpbox_forums.FORUM_ID neq -1 %}
							<li><a href="{{ jumpbox_forums.LINK }}" class="{% if jumpbox_forums.level %}jumpbox-sub-link{% elseif jumpbox_forums.S_IS_CAT %}jumpbox-cat-link{% else %}jumpbox-forum-link{% endif %}">{% for level in jumpbox_forums.level %}<span class="spacer"></span>{% endfor %} <span>{% if jumpbox_forums.level %}{% if S_CONTENT_DIRECTION eq 'rtl' %}&#8626;{% else %}&#8627;{% endif %} &nbsp;{% endif %} {{ jumpbox_forums.FORUM_NAME }}</span></a></li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endif %}
